html {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: hsl(27, 66%, 92%);
  padding-top: 4.2rem;
  padding-bottom: 1.2rem;
}
