.grid {
  display: grid;
  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }
  &--seven-column {
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    column-gap: 0.8rem;
    align-items: end;
  }
  &--row-gap-s {
    row-gap: 0.6rem;
  }
}
