.week {
  border-bottom: solid 2px hsl(27, 66%, 92%);
  &__daywrapper {
    height: 10rem;
    display: grid;
    grid-template-rows: 1fr 1.5rem;
  }
  &__daybar {
    height: 0%;
    background-color: hsl(10, 79%, 65%);
    border-radius: 4px;
    align-self: end;
    &--focus {
      background-color: hsl(186, 34%, 60%);
    }
  }
  &__dayname {
    margin-top: 0.8rem;
    font-size: 0.7rem;
    text-align: center;
    align-self: end;
  }
}
